/* CSS that affects the whole body of the office */
body{
    margin-left: 15% !important;
    margin-right: 15% !important;
}

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


h2{
    margin-right: auto;
    font-size: 1.5rem;
    color: dimgray;
    font-weight: 900;
    text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}