<!-- Navbar -->
<app-navbar></app-navbar>



<body>

    

    <br>
    
    <h2>Learn More: Tinntus</h2>

    <div class="video-container">   
        <iframe  class= "video" src="https://www.youtube.com/embed/BlSKwdieNmQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    

    <br>
    
    <h2>Learn More: Colour Blindness</h2>

    <div class="video-container"> 
        <iframe class= "video" src="https://www.youtube.com/embed/0X3Z82V1Kcg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    

    <br>
    
    <h2>Learn More: Myopia</h2>

    <div class="video-container"> 
        <iframe class= "video" src="https://www.youtube.com/embed/Mt1zUtbtlfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

</body>
