
    <button type="button" id="test" class="tinnitusButton" (click)="toggleTinnitus('test')">Play Test</button>

    <br>
    <button type="button" id="tinnitus4KhzTWave" class="tinnitusButton" (click)="toggleTinnitus('4KhzTWave')">Play Tinnitus: 4kHz Triangle Wave</button>

    <br>
    <button type="button" id="tinnitus5KhzIWave" class="tinnitusButton" (click)="toggleTinnitus('5KhzIWave')">Play Tinnitus: 5kHz Impulse Wave</button>

    <br>
    <button type="button" id="tinnitus5KhzSWave" class="tinnitusButton" (click)="toggleTinnitus('5KhzSWave')">Play Tinnitus: 5kHz Square Wave</button>

    <br>
    <button type="button" id="tinnitus8KhzTWave" class="tinnitusButton" (click)="toggleTinnitus('8KhzTWave')">Play Tinnitus: 8kHz Triangle Wave</button>

    <br>
    <button type="button" id="tinnitus10KhzSinWave" class="tinnitusButton" (click)="toggleTinnitus('10KhzSinWave')">Play Tinnitus: 10kHz Sine Wave</button>

    <br>
    <button type="button" id="tinnitus13KhzSWave" class="tinnitusButton" (click)="toggleTinnitus('13KhzSWave')">Play Tinnitus: 13kHz Square Wave</button>

    <br>
    <button type="button" id="tinnitus14KhzSinWave" class="tinnitusButton" (click)="toggleTinnitus('14KhzSinWave')">Play Tinnitus: 14kHz Sine Wave</button>

    <br>
    <button type="button" id="tinnitus200hzIWave" class="tinnitusButton" (click)="toggleTinnitus('200hzIWave')">Play Tinnitus: 200Hz Impulse Wave</button>

    <br>
    <button type="button" id="tinnitusBrownNoise" class="tinnitusButton" (click)="toggleTinnitus('BrownNoise')">Play Tinnitus: Brown Noise</button>

    <br>
    <button type="button" id="tinnitusVioletNoise" class="tinnitusButton" (click)="toggleTinnitus('VioletNoise')">Play Tinnitus: Violet Noise</button>

