<br>
<button type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isTinnitusCollapsed" aria-controls="collapseExample"> 
    Toggle Tinnitus 
</button>

<div #collapse="ngbCollapse" [(ngbCollapse)]="isTinnitusCollapsed">
    <div class="card">
        <div class="card-body">
    
            <button type="button" id="test" class="tinnitusButton" (click)="toggleTinnitus('test')">
                Test
            </button>

            <br>
            <button type="button" id="tinnitus4KhzTWave" class="tinnitusButton" (click)="toggleTinnitus('4KhzTWave')">
                4kHz Triangle Wave
            </button>

            <br>
            <button type="button" id="tinnitus5KhzIWave" class="tinnitusButton" (click)="toggleTinnitus('5KhzIWave')">
                5kHz Impulse Wave
            </button>

            <br>
            <button type="button" id="tinnitus5KhzSWave" class="tinnitusButton" (click)="toggleTinnitus('5KhzSWave')">
                5kHz Square Wave
            </button>

            <br>
            <button type="button" id="tinnitus8KhzTWave" class="tinnitusButton" (click)="toggleTinnitus('8KhzTWave')">
                8kHz Triangle Wave
            </button>

            <br>
            <button type="button" id="tinnitus10KhzSinWave" class="tinnitusButton" (click)="toggleTinnitus('10KhzSinWave')">
                10kHz Sine Wave
            </button>

            <br>
            <button type="button" id="tinnitus13KhzSWave" class="tinnitusButton" (click)="toggleTinnitus('13KhzSWave')">
                13kHz Square Wave
            </button>

            <br>
            <button type="button" id="tinnitus14KhzSinWave" class="tinnitusButton" (click)="toggleTinnitus('14KhzSinWave')">
                14kHz Sine Wave
            </button>

            <br>
            <button type="button" id="tinnitus200hzIWave" class="tinnitusButton" (click)="toggleTinnitus('200hzIWave')">
                200Hz Impulse Wave
            </button>

            <br>
            <button type="button" id="tinnitusBrownNoise" class="tinnitusButton" (click)="toggleTinnitus('BrownNoise')">
                Brown Noise
            </button>

            <br>
            <button type="button" id="tinnitusVioletNoise" class="tinnitusButton" (click)="toggleTinnitus('VioletNoise')">
                Violet Noise
            </button>

        </div>
    </div>
</div>


<br>
<br>