<body>

    
    <!-- Inside the officesetup, put ngif statements so 'if cdb is off then set display to show instead of hidden/none' -->
    <div id="officeSetup">
        <img id="background" src="../../../assets/officeAssets/normalVision/Office Background.png" />
        <button class = "interactableButton" id = "phone" ngbTooltip="Pickup the phone" (click)="openBackDropCustomClass(phoneModal)"></button>
        <button class = "interactableButton" id = "speaker1" ngbTooltip="Turn on/off music" (click)="toggleMusic()"></button>
        <button class = "interactableButton" id = "speaker2" ngbTooltip="Turn on/off music" (click)="toggleMusic()"></button>
        <!-- The link/iframe needs to be css'ed so it just looks uniform  -->
        <a href="https://pixelzenstudios.itch.io/inverted-space" target="_blank"><button class = "interactableButton" id = "screen1" ngbTooltip="Play a game"></button></a>
        <button class = "interactableButton" id = "screen2" ngbTooltip="Choose music" (click)="openBackDropCustomClass(musicModal)"></button>
        <button class = "interactableButton" id = "book" ngbTooltip="Read a book" (click)="openBackDropCustomClass(bookModal)"></button>
    </div>



    <!-- Inside the officesetupcbd, put ngif statements so 'if cdb x is true then set display to show' -->
    <!-- <div class="officeSetupCBD">
        <img class="image1" src="https://via.placeholder.com/50" />
        <img class="image2" src="https://via.placeholder.com/100" />
    </div> -->



    <!-- Book Modal Content -->
    <ng-template #bookModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Interesting Facts About Disabilities</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <div class="carouselCont">
                <ngb-carousel *ngIf="images">
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img id = "infoBookImage" src="../../../assets/officeAssets/normalVision/InfoBook.png" alt="A Book">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img id = "infoBookImage" src="../../../assets/officeAssets/normalVision/InfoBook2.png" alt="A Book">
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img id = "infoBookImage" src="../../../assets/officeAssets/normalVision/InfoBook3.png" alt="A Book">
                    </div>
                  </ng-template>
                </ngb-carousel>
              </div>
        </div>
      </ng-template>


      <!-- Screen2 Modal Content -->
    <ng-template #musicModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Time To Change My Music</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id = "infoBookImage" src="../../../assets/officeAssets/normalVision/screen2.png" alt="Music selection">
        </div>
      </ng-template>


      <!-- Phone Modal Content -->
      <ng-template #phoneModal let-modal>
        <div class="modal-header">
          <h4 class="modal-title">"Ring Ring"</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>One fine body&hellip;</p>
        </div>
      </ng-template>





    <br>

    <app-disability-menu></app-disability-menu>

</body>