body{
    margin-left: 10% !important;
    margin-right: 10% !important;
}

#officeSetup {
  position: relative;
  display: inline-block;
}

#background {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* All interabtables will have this outline */
.interactableButton{
  position: absolute;
  outline: yellow;
  outline-style: dotted;
  background-color: rgba(232, 232, 232, 0.25);
  border-color: transparent;
}

/* All interatables will have a change of outline when hovered on  */
.interactableButton:hover{
  outline-style: solid;
}

/* Placement and size of phone interactable */
#phone {
  right: 5.5%;
  top: 53%;
  height: 10.5%;
  width: 5%;
  max-width: 5%;
}

#speaker1{
  right: 60.2%;
  top: 45%;
  height: 12%;
  width: 5.5%;
  max-width: 5.5%;
}

#speaker2{
  right: 17.5%;
  top: 45%;
  height: 12%;
  width: 6%;
  max-width: 6%;
}

#screen1{
  right: 48%;
  top: 33%;
  height: 23%;
  width: 10%;
  max-width: 10%;
}

#screen2{
  right: 26%;
  top: 33%;
  height: 17%;
  width: 21%;
  max-width: 21%;
}

#book{
  right: 9%;
  top: 33%;
  height: 8%;
  width: 5.5%;
  max-width: 5.5%;
}

.modal-body{
  padding: 0% 0% 0% 0%;
}


#infoBookImage{
  max-width: 100%;
}