
  <ul class="nav">
    
      <!-- Routing to homepage page -->
      <li class="logo">
        <a routerLink="/homepage">
          <img src="../../../assets/logo.png" alt="Logo" style="width:20px;height:20px;">
          ATHESA
        </a>
      </li>
  
      <!-- Routing to office page -->
      <a routerLink="/theOffice" class= "mainLink">
        <li tabindex="0">
          <nav>
            The Office
          </nav>
        </li>
      </a>
  
      <!-- Routing to living room page -->
      <a routerLink="/theLivingRoom" class= "mainLink">
        <li tabindex="0">
          <nav>
            The Living Room
          </nav>
        </li>
      </a>
  
      <!-- Routing to driving page -->
      <a routerLink="/driving" class= "mainLink">
        <li tabindex="0">
          <nav>
            Go Driving
          </nav>
        </li>
      </a>
  
      <!-- Routing to contact details page -->
      <a routerLink="/learnMore" class= "mainLink">
        <li tabindex="0">
          <nav>
            Learn More
          </nav>
        </li>
      </a>
  
      
  
  
      <!-- Burger menu button hidden, and shown when the screen is small -->
      <div class = "dropdown">
  
        <button id = "burgerMenu" type="button" (click)="showDropdown()">
          V
        </button>
        
        <div id="myDropdown" class="dropdown-content">
          <a routerLink="/theOffice" >
            <li tabindex="0" class = "dropdownLink">
              <nav>
                The Office
              </nav>
            </li>
          </a>
  
          <a routerLink="/theLivingRoom">
            <li tabindex="0" class = "dropdownLink">
              <nav>
                The Living Room
              </nav>
            </li>
          </a>
  
          <a routerLink="/driving" >
            <li tabindex="0" class = "dropdownLink">
              <nav>
                Go Driving
              </nav>
            </li>
          </a>
  
          <a routerLink="/learnMore" >
            <li tabindex="0" class = "dropdownLink">
              <nav>
                Learn More
              </nav>
            </li>
          </a>
  
        </div>
  
      </div>
  
  </ul>
  
  