/* CSS that affects the whole body of the office */
body{
    margin-left: 10% !important;
    margin-right: 10% !important;
}










/* Following is for main office interactables CSS */

/* CSS for div containing all of the office */
#livingRoomSetup {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* CSS for the main office background image */
#background {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* All interabtables will have this outline */
.interactableButton{
  position: absolute;
  outline: rgb(255, 255, 0);
  outline-style: dotted;
  background-color: rgba(232, 232, 232, 0.25);
  border-color: transparent;
}

/* All interatables will have a change of outline when hovered on  */
.interactableButton:hover{
  outline-style: solid;
}

/* Placement and size of speaker interactable */
#speaker1{
  right: 73%;
  top: 32%;
  height: 35%;
  width: 5.5%;
  max-width: 5.5%;
}

/* Placement and size of speaker interactable */
#speaker2{
  right: 7.5%;
  top: 32%;
  height: 20%;
  width: 5%;
  max-width: 5%;
}

/* Placement and size of screen interactable */
#screen1{
  right: 48%;
  top: 33%;
  height: 23%;
  width: 10%;
  max-width: 10%;
}

/* Placement and size of screen interactable */
#screen2{
  right: 80.5%;
  top: 26.3%;
  height: 11.2%;
  width: 12%;
  max-width: 12%;
}

/* Placement and size of book interactable */
#book{
  right: 32.5%;
  top: 72.5%;
  height: 10%;
  width: 15%;
  max-width: 15%;
}

/* Placement and size of cat interactable */
#cat{
  right: 72%;
  top: 80%;
  height: 18%;
  width: 15%;
  max-width: 15%;
  border-radius: 45%;
}

/* Placement and size of magazines interactable */
#magazines{
  right: 54%;
  top: 65%;
  height: 10%;
  width: 10%;
  max-width: 10%;
}

/* Placement and size of tv interactable */
#tv{
  right: 32.5%;
  top: 25.55%;
  height: 19%;
  width: 21.5%;
  max-width: 21.5%;
}









/* CSS for the "to do" list */

/* Placement and size of to do list */
.d-inline-block{
  position: absolute;
  right: 5%;
  top: 3%;
}

/* Styling of to do list button */
.dropdownButton{
  margin: 0 1rem;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 10px;   
  cursor: pointer;
  transition: color 0.2s ease-out, transform 0.2s ease-out;
  color: dimgray;
}

.dropdownButton:focus{
  outline: none;
}

.dropdownButton:hover{
  color: #187bcd;
}










/* CSS for office/navbar covers */

/* Placement and size of enter room cover */
#enterRoomCover{
  right: 0%;
  top: 0%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: absolute;
  background-color: rgba(232, 232, 232, 0.8);
  border-color: transparent;
  margin-right: auto;
  font-size: 3rem;
  color: dimgray;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);
}

/* Placement and size of enter room cover */
#navbarCover{
  position: absolute;
  width: 100vw;
  height: 15vh;
  right: 0%;
  top: 0%;
  z-index: 101;
  
  margin-right: auto;
  align-items: center;
  padding: 0 3rem;

  font-size: 2rem;
  color: dimgray;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0,0,0,.3), -2px -2px 4px rgba(255,255,255,1);

  background-color: #efeeee;

  border: 2px solid rgba(255,255,255,.3);
  border-radius: 0 0 10px 10px;
  box-shadow: 4px 4px 6px 0 rgba(0,0,0,.1), -4px -4px 6px rgba(255,255,255,1);
}










/* Using an interactable / opening its modal CSS follows */
.modal-body{
  padding: 0% 0% 0% 0%;
}

#infoBookImage{
  max-width: 100%;
}

.magazineCover{
  max-width: 100%;
  width: 100%;
}











/* Following is for changing song CSS */

/* Song select on screen 2 */
#songSelect {
  position: relative;
  display: inline-block;
}

/* Background for modal body when screen 2 selected */
#songSelectBackground {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* Button cover/interactable for a song */
#enigmaticSong{
  right: 1%;
  top: 67.5%;
  height: 9%;
  width: 98%;
  max-width: 98%;
}

/* Button cover/interactable for a song */
#jazzyFrenchSong{
  right: 1%;
  top: 78.5%;
  height: 9%;
  width: 98%;
  max-width: 98%;
}

/* Button cover/interactable for a song */
#happyRockSong{
  right: 1%;
  top: 90.5%;
  height: 9%;
  width: 98%;
  max-width: 98%;
}
