<body>

  <br>
  
  <div class="carouselCont">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Welcome to the ATHESA</h3>
          <p>Accessibility Through Empathy Simulation Application</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>ATHESA's Purpose</h3>
          <p>Those with disabilities can often be left out and unaccommodated for. ATHESA puts us in
            their shoes so that we can hopefully better understand their challenges, find solutions for them,
            and make the world an easier place to live in.
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>How to use ATHESA</h3>
          <p>Use the bar at the top to navigate between different rooms; each room will have items to interact with.
            Interact with the items normally, before using the bar at the side to simulate disabilities. Notice the
            difference!
          </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Still Interested?</h3>
          <p>To find out more about certain disabilities, navigate to the 'Learn More' tab and watch
            some of the videos.
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>

</body>